.Main_page {
    -fx-background-color: #1E1E1E;
}

.NavBar {
    -fx-background-color: #2A2A2A;
}

.NavBar_Button {
    -fx-background-color: transparent;
    -fx-background-radius: 10px;
    -fx-padding: 5px;
}

.NavBar_Button:hover {
    -fx-background-color: #3a3a3a;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 5, 0, 0, 1);
}
.box-border {
	-fx-border-color: black;
	-fx-border-width: 3px;
	-fx-border-radius: 20px;
}
.content-border {
	-fx-border-color: black;
	-fx-border-width: 3px;
}

.personal_details,
.contact_details,
.add_time_table {
    -fx-background-color: #3A3A3A;
    -fx-text-fill: #FFFFFF;
}

.tt_border {
    -fx-border-color: #C8C8C8;
}

.text_white {
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

.text_white1 {
    -fx-text-fill: #FFFFFF;
}

.box-borderRadius {
    -fx-background-radius: 35px;
}

.btn:hover {
    -fx-cursor: hand;
    -fx-background-color: #000000;

}

.table-view {
    -fx-background-color: #3A3A3A;
    -fx-background-radius: 10;
    -fx-border-color: #BDBDBD;
    -fx-border-width: 1px;
}

.table-view .column-header-background {
    -fx-background-color: #2A2A2A;
    -fx-background-radius: 10 10 0 0;
}

.table-view .column-header,
.table-view .filler {
    -fx-size: 50px;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: #2A2A2A;
}

.table-view .column-header .label {
    -fx-font-weight: 500;
    -fx-text-fill: white;
    -fx-alignment: center;
}

.table-row-cell {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: black;
}

.table-row-cell:odd {
    -fx-background-color: #F5F5F5;
}

.table-row-cell:selected {
    -fx-background-color: #2A2A2A;
    -fx-text-fill: black;
}

.student-view-text-fields {
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-font-weight: 400;
    -fx-alignment: center;
    -fx-font-style: italic;
    -fx-font-size: 17px;
}


/* Customize the TableView */
.table-view {
    -fx-background-color: #2a2a2a; /* Set the background color */
    -fx-border-color: white;


}

/* Customize the TableView columns */
.table-column {
    -fx-text-fill: white; /* Set the text color of column headers */

}

/* Customize the TableView cells */
.table-cell {
    -fx-background-color: #1d1d1d; /* Set the cell background color */
    -fx-text-fill: white; /* Set the text color inside the cells */
    -fx-font-size: 19px;

}

/* Set the background color and text color of table rows */
.table-row-cell {
    -fx-background-color: white;
    -fx-text-fill: white;
    -fx-font-size: 19px;
}

/* Alternate row color */
.table-row-cell:odd {
    -fx-background-color: white;
}

.btn-contact {
    -fx-background-color: black;
    -fx-background-radius: 50%;
}
